* {
  box-sizing: border-box;
}

.title {
  color: blue;

  margin-top: 35px;
}

.image {
  height: 100px;
  width: 100px;
}

.header {
  height: 100px;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
}
