* {
  box-sizing: border-box;
}

.load {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid blue;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  padding: 30px;
  background-color: lightgray;
  gap: 10px;
}

.para {
  font-weight: 600;
}
