* {
  box-sizing: border-box;
}

.myForm {
  display: flex;
  justify-content: center;
  text-align: center;

  position: relative;
  width: 30px;
  height: 40px;
}

.item {
  display: flex;

  position: absolute;
  bottom: 0;

  gap: 5px;
  font-weight: 600;

  transform: translate(-50%, -50%);

  width: 22px;
  height: 22px;
}
