* {
  box-sizing: border-box;
}

.details {
  padding: 30px;
  background-color: lightgray;
  gap: 10px;
}

.item {
  height: 40px;
}

.items {
  padding: 30px;
  gap: 10px;
  height: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  padding: 30px;
  background-color: lightgray;
  gap: 10px;
}

.para {
  font-weight: 700;
}
