* {
  box-sizing: border-box;
}

.item {
  height: 40px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: aquamarine;
  padding-top: 20px;
}

.position {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
