* {
  box-sizing: border-box;
}

.item {
  height: 40px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: aquamarine;
  padding-top: 20px;
}

.position {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 5px;
}

.loading {
  display: flex;

  position: absolute;
  top: 10%;
  left: 10%;

  gap: 5px;
  font-weight: 600;

  transform: translate(-50%, -50%);

  width: 70px;
  height: 20px;
}
